.main-navigation {
	clear: both;
	display: block;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			background-color: $color__background-menu;
			border-top: 4px solid $color__border;
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 2.156225em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	.nav-menu {
		border-bottom: 1px solid $color__border;
		margin: 0.875em 0;
	}

	li {
		border-top: 1px solid $color__border;
		position: relative;
		text-align: left;

		&:hover > a,
		&.focus > a {
			color: $color__link;
			transition: color 0.3s;
		}
	}

	a {
		display: block;
		line-height: 1.3125;
		padding: .65625em .875em;
		text-decoration: none;
		transition: color 0.5s;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		color: $color__link;
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.menu-toggle {
	background-color: transparent;
	border: 1px solid $color__border-alt;
	font-size: 13px;
	font-size: 0.8125rem;
	font-weight: 400;
	margin: 1.076923077em auto;
	padding: 0.769230769em;

	&:before {
		content: "\2630";
		display: inline-block;
		margin-right: 5px;
	}

	.no-js & {
		display: none;
	}

	&:hover,
	&:focus {
		background-color: transparent;
		border-color: $color__link;
		color: $color__link;
	}
}

.main-navigation.toggled .menu-toggle,
.main-navigation.toggled .menu-toggle:hover,
.main-navigation.toggled .menu-toggle:focus {
	background-color: $color__text-screen;
	border-color: $color__text-screen;
	color: #fff;
}

.main-navigation:focus {
	outline: 0;
}

.main-navigation.toggled-on:focus {
	outline: thin dotted;
}

@media screen and (min-width: #{$breakpoint_tablet}) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}
