.main-navigation {
	clear: both;
	display: block;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		/**
		 * Not needed unless the theme needs to support nav menus

		ul {
			background-color: $color__background-menu;
			border-top: 4px solid $color__border;
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 2.156225em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}

		*/

	}

	li {
		display: inline-block;
		position: relative;
		text-align: left;

		&:hover > a,
		&.focus > a {
			color: $color__link;
			transition: color 0.3s;
		}
	}

	a {
		display: block;
		line-height: 1.3125;
		padding: .65625em .875em;
		text-decoration: none;
		transition: color 0.5s;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		color: $color__link;
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

.menu-toggle:before {
	content: "\2630";
	display: inline-block;
	margin-right: 5px;
}

@media screen and (min-width: #{$breakpoint_tablet}) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}
