.main-navigation {
	clear: both;
	display: block;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			display: none;
			margin-left: 0.875em;
		}

		.toggled-on {
			display: block;
		}
	}

	.nav-menu {
		border-bottom: 1px solid $color__border;
		margin: 0.875em 0;
	}

	li {
		border-top: 1px solid $color__border;
		position: relative;
		text-align: left;

		&:hover > a,
		&.focus > a {
			color: $color__link;
			transition: color 0.3s;
		}
	}

	a {
		display: block;
		line-height: 1.3125;
		padding: .65625em .875em;
		text-decoration: none;
		transition: color 0.3s;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		color: $color__link;
	}

	.page_item_has_children > a:after,
	.menu-item-has-children > a:after {
		content: "";
	}
}

/* Small menu. */
.menu-toggle,
.toggled-on .main-navigation .menu {
	display: block;
}

.menu-toggle {
	background-color: transparent;
	border: 1px solid $color__border-alt;
	font-size: 13px;
	font-size: 0.8125rem;
	font-weight: 400;
	margin: 1.076923077em auto;
	padding: 0.769230769em;

	.no-js & {
		display: none;
	}

	&:before {
		content: "\f419";
		display: inline-block;
		font-size: 13px;
		font-size: 0.8125rem;
		margin-right: 5px;

		.toggled-on & {
			content: "\f406";
			font-size: 11px;
			position: relative;
			top: 1px;
			left: -1px;
		}
	}

	&:hover,
	&:focus {
		background-color: transparent;
		border-color: $color__link;
		color: $color__link;
	}
}

.toggled-on .main-navigation .menu-toggle,
.toggled-on .main-navigation .menu-toggle:hover,
.toggled-on .main-navigation .menu-toggle:focus {
	background-color: $color__text-screen;
	border-color: $color__text-screen;
	color: #fff;
}

.main-navigation:focus {
	outline: 0;
}

.toggled-on .main-navigation:focus {
	outline: thin dotted;
}

.dropdown-toggle {
	background-color: transparent;
	border: 0;
	border-radius: 0;
	color: $color__text-screen;
	content: "";
	height: 48px;
	padding: 0;
	position: absolute;
	right: 0;
	text-transform: none;
	top: 0;
	width: 48px;

	&:after {
		content: "\f431";
		font-size: 24px;
		left: 1px;
		position: relative;
		width: 48px;
	}

	&:hover,
	&:focus {
		background-color: transparent;
		color: #007acc;
	}

	&:focus {
		outline: thin dotted;
		outline-offset: -1px;
	}

	&:focus:after {
		border-color: transparent;
	}

	&.toggled-on:after {
		content: "\f432";
	}
}



@media screen and (min-width: #{$breakpoint_tablet}) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}
