@-ms-viewport {
	width: device-width;
}

@viewport {
	width: device-width;
}

/**
 * >= 720px
 */
@media screen and (min-width: 45em) {
	body:not(.custom-background-image):before,
	body:not(.custom-background-image):after {
		display: none;
	}

	.site-main {
		margin-bottom: 5.25em;
	}

	.site-header {
		padding: 3.9375em 0;
	}

	.site-branding {
		margin-top: 1.3125em;
		margin-bottom: 1.3125em;
	}

	.site-title {
		font-size: 28px;
		font-size: 1.75rem;
		line-height: 1.25;
	}

	.site-description {
		display: block;
	}

	.menu-toggle {
		font-size: 16px;
		font-size: 1.0rem;
		margin: 1.3125em 0;
		padding: 0.8125em 0.875em 0.6875em;
	}

	.site-header-menu {
		margin: 1.3125em 0;
	}

	.main-navigation,
	.site-footer .social-navigation {
		margin: 2.625em 0 1.75em;
		text-align: center;
		width: 100%;
	}

	.header-image {
		margin: 1.3125em 0;
	}

	.pagination {
		margin: 0 23.0769% 4.421052632em 7.6923%
	}

	.post-navigation {
		margin-bottom: 5.25em;
	}

	.post-navigation .post-title {
		font-size: 28px;
		font-size: 1.75rem;
		line-height: 1.25;
	}

	/* restore screen-reader-text */
	.pagination .current .screen-reader-text {
		position: absolute !important;
	}

	.pagination .page-numbers {
		display: inline-block;
	}

	.site-main > article {
		margin-bottom: 5.25em;
	}

	.entry-title {
		font-size: 33px;
		font-size: 2.0625rem;
		line-height: 1.2727272727;
		margin-bottom: 0.8484848485em;
	}

	.entry-content blockquote.alignleft,
	.entry-content blockquote.alignright {
		border-width: 4px 0 0 0;
		padding: 0.9473684211em 0 0;
		width: -webkit-calc(50% - 0.736842105em);
		width: calc(50% - 0.736842105em);
	}

	.entry-content blockquote:not(.alignleft):not(.alignright),
	.entry-summary blockquote,
	.comment-content blockquote {
		margin-left: inherit;
	}

	.entry-content li > ul,
	.entry-summary li > ul,
	.comment-content li > ul,
	.entry-content blockquote > ul,
	.entry-summary blockquote > ul,
	.comment-content blockquote > ul {
		margin-left: 1.25em;
	}

	.entry-content li > ol,
	.entry-summary li > ol,
	.comment-content li > ol,
	.entry-content blockquote > ol,
	.entry-summary blockquote > ol,
	.comment-content blockquote > ol {
		margin-left: 1.5em;
	}

	.comment-author {
		margin-bottom: 0;
	}

	.comment-author .avatar {
		height: 42px;
		position: relative;
		top: 0.25em;
		width: 42px;
	}

	.comment-list .children > li {
		padding-left: 1.75em;
	}

	.comment-list + .comment-respond,
	.comment-navigation + .comment-respond {
		padding-top: 3.5em;
	}

	.comments-area,
	.widget,
	.content-bottom-widgets .widget-area {
		margin-bottom: 5.25em;
	}

	body:not(.search-results) .entry-summary li > ul,
	body:not(.search-results) .entry-summary blockquote > ul {
		margin-left: 1.157894737em;
	}

	body:not(.search-results) .entry-summary li > ol,
	body:not(.search-results) .entry-summary blockquote > ol {
		margin-left: 1.473684211em;
	}

	.widget-area {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
		-webkit-column-gap: 52px;
		-moz-column-gap: 52px;
		column-gap: 52px;

		.widget-area section {
			-webkit-column-break-inside: avoid;
			page-break-inside: avoid;
			break-inside: avoid-column;
		}
	}
}

@media screen and (min-width: 45em) {
	.site-info .sep {
		display: block;
		line-height: 0px;
		visibility: hidden;
	}
}

/*

	.site {
		margin: 0;
	}

	.site-content,
	.site-header-main {
		max-width: 800px;
		margin: 0 auto;
		padding: 0 4.5455%;
	}

	.site-header {
		padding: 3.9375em 0;
	}

	.site-branding {
		width: 100%;
		text-align: center;

		.custom-logo,
		.site-logo {
			max-height: 80px;
			width: auto;
		}
	}

	.header-image {
		margin: 1.75em 0;
	}

	.site-header-menu.toggled-on .main-navigation,
	.site-header-menu.toggled-on .social-navigation {
		margin-right: 7.6923%;
		margin-left: 7.6923%;
	}

	.main-navigation,
	.site-footer .social-navigation {
		margin: 1.75em 0;
		text-align: center;
		width: 100%;
	}

	.main-navigation .primary-menu > li,
	.social-navigation li {
		display: inline-block;
		float: none;
	}

	.main-navigation,
	.site-footer .social-navigation,
	.widget-area section {
		margin-right: 0;
		margin-left: 0;
	}

	.widget-area {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
		-webkit-column-gap: 52px;
		-moz-column-gap: 52px;
		column-gap: 52px;
		padding: 0;

		.widget-area section {
			-webkit-column-break-inside: avoid;
			page-break-inside: avoid;
			break-inside: avoid-column;
		}
	}

	.entry-content blockquote.alignleft,
	.entry-content blockquote.alignright {
		border-width: 4px 0 0 0;
		padding: 0.9473684211em 0 0;
		width: inherit;
	}

	.entry-content blockquote:not(.alignleft):not(.alignright),
	.entry-summary blockquote,
	.comment-content blockquote {
		margin-left: inherit;
	}
}
/**
 * 14.3 - >= 910px
 *
@media screen and (min-width: 56.875em) {
	.site-content,
	.site-header-main {
		max-width: 800px;
		margin: 0 auto;
		padding: 0 4.5455%;
	}

	.site-header-menu.toggled-on .main-navigation,
	.site-header-menu.toggled-on .social-navigation {
		margin-right: 0;
		margin-left: 0;
	}

	.main-navigation,
	.site-footer .social-navigation {
		margin: 1.75em 0;
		text-align: center;
		width: 100%;
	}

	.main-navigation .primary-menu > li,
	.social-navigation li {
		display: inline-block;
		float: none;
	}

	.main-navigation,
	.site-footer .social-navigation,
	.widget-area section {
		margin-right: 0;
		margin-left: 0;
	}

	.widget-area {
		padding: 0;
	}

	.widecolumn {
		padding-right: 15%;
		padding-left: 15%;
	}

	body:not(.search-results) article:not(.type-page) .entry-footer > span:not(:first-child):before {
		display: inherit;
	}
}
/**
 * 14.4 - >= 985px
 *
@media screen and (min-width: 61.5625em) {
	body:not(.search-results) article:not(.type-page) .entry-content {
		float: left;
		margin-right: 0;
		margin-left: 0;
		width: 100%;
	}

	body:not(.search-results) article:not(.type-page) .entry-footer {
		display: inline-block;
		margin-right: 0;
		margin-left: 0;
		width: 100%;
		float: none;
		margin-top: 2.1538461538em;
	}

	body:not(.search-results) article:not(.type-page) .entry-footer > span:not(:last-child):after {
		display: inherit;
	}

	.single .byline,
	.full-size-link,
	body:not(.search-results).group-blog .byline,
	body:not(.search-results) .entry-format,
	body:not(.search-results) article:not(.sticky) .posted-on,
	body:not(.search-results) article:not(.sticky) .cat-links,
	body:not(.search-results) article:not(.sticky) .tags-links,
	body:not(.search-results) article:not(.type-page) .comments-link,
	body:not(.search-results) article:not(.type-page) .entry-footer .edit-link {
		display: inline-block;
		margin-bottom: inherit;
	}

	body:not(.search-results) article:not(.type-page) .entry-footer .author .avatar {
		display: inline-block;
		height: 21px;
		margin: -0.1538461538em 0.5384615385em 0 0;
		width: 21px;
	}

	.site-main {
		margin-bottom: 7em;
	}

	.widget {
		margin-bottom: 4.307692308em;
	}
}
*/