@-ms-viewport {
	width: device-width;
}

@viewport {
	width: device-width;
}

/**
 * 14.1 - >= 710px
 */
@media screen and (min-width: 44.375em) {
	.site {
		margin: 0;
	}

	body:not(.custom-background-image):before, body:not(.custom-background-image):after {
		display: none;
	}

	.site-header {
		padding: 3.9375em 0;
	}

	.site-branding {
		width: 100%;
		text-align: center;
	}

	.site-branding .custom-logo,
	.site-branding .site-logo {
		max-height: 80px;
		width: auto;
	}

	.site-header-menu.toggled-on .main-navigation,
	.site-header-menu.toggled-on .social-navigation {
		margin-right: 7.6923%;
		margin-left: 7.6923%;
	}

	.entry-header,
	.post-thumbnail,
	.entry-content,
	.entry-summary,
	.entry-footer,
	.comments-area,
	.image-navigation,
	.post-navigation,
	.page-header,
	.page-content,
	.content-bottom-widgets {
		margin-right: 7.6923%;
	}

	.sidebar {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
		-webkit-column-gap: 52px;
		-moz-column-gap: 52px;
		column-gap: 52px;
	}
	.sidebar section {
		-webkit-column-break-inside: avoid;
		page-break-inside: avoid;
		break-inside: avoid-column;
	}

	.entry-content blockquote.alignleft,
	.entry-content blockquote.alignright {
		border-width: 4px 0 0 0;
		padding: 0.9473684211em 0 0;
		width: inherit;
	}

	.entry-content blockquote:not(.alignleft):not(.alignright),
	.entry-summary blockquote,
	.comment-content blockquote {
		margin-left: inherit;
	}
}
/**
 * 14.3 - >= 910px
 */
@media screen and (min-width: 56.875em) {
	.site-content,
	.site-header-main {
		max-width: 800px;
		margin: 0 auto;
		padding: 0 4.5455%;
	}

	.site-header {
		padding-right: 0;
		padding-left: 0;
	}

	.site-branding {
		width: 100%;
		text-align: center;
	}

	.site-header-menu.toggled-on .main-navigation,
	.site-header-menu.toggled-on .social-navigation {
		margin-right: 0;
		margin-left: 0;
	}

	.main-navigation,
	.site-footer .social-navigation {
		margin: 1.75em 0;
		text-align: center;
		width: 100%;
	}

	.main-navigation .primary-menu > li,
	.social-navigation li {
		display: inline-block;
		float: none;
	}

	.main-navigation,
	.site-footer .social-navigation,
	.sidebar section {
		margin-right: 0;
		margin-left: 0;
	}

	.sidebar {
		padding: 0;
	}

	.widecolumn {
		padding-right: 15%;
		padding-left: 15%;
	}

	body:not(.search-results) article:not(.type-page) .entry-footer > span:not(:first-child):before {
		display: inherit;
	}
}
/**
 * 14.4 - >= 985px
 */
@media screen and (min-width: 61.5625em) {
	body:not(.search-results) article:not(.type-page) .entry-content {
		float: left;
		margin-right: 0;
		margin-left: 0;
		width: 100%;
	}

	body:not(.search-results) article:not(.type-page) .entry-footer {
		display: inline-block;
		margin-right: 0;
		margin-left: 0;
		width: 100%;
		float: none;
		margin-top: 2.1538461538em;
	}

	body:not(.search-results) article:not(.type-page) .entry-footer > span:not(:last-child):after {
		display: inherit;
	}

	.single .byline,
	.full-size-link,
	body:not(.search-results).group-blog .byline,
	body:not(.search-results) .entry-format,
	body:not(.search-results) article:not(.sticky) .posted-on,
	body:not(.search-results) article:not(.sticky) .cat-links,
	body:not(.search-results) article:not(.sticky) .tags-links,
	body:not(.search-results) article:not(.type-page) .comments-link,
	body:not(.search-results) article:not(.type-page) .entry-footer .edit-link {
		display: inline-block;
		margin-bottom: inherit;
	}

	body:not(.search-results) article:not(.type-page) .entry-footer .avatar {
		display: inline-block;
		height: 21px;
		margin: -0.1538461538em 0.5384615385em 0 0;
		width: 21px;
	}
}