.page-header {
	margin: 0 7.6923% 3.5em;
}

.page-title {
	font-size: 23px;
	font-size: 1.4375rem;
	line-height: 1.2173913043;
}

.page-content {
	margin-right: 7.6923%;
	margin-left: 7.6923%;
}

.error-404,
.no-results {
	.search-field {
		width: 80%;
	}
}