.entry-content h4,
.entry-content h5,
.entry-content h6,
.entry-summary h4,
.entry-summary h5,
.entry-summary h6,
.comment-content h4,
.comment-content h5,
.comment-content h6,
.textwidget h4,
.textwidget h5,
.textwidget h6 {
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.3125;
	margin-top: 3.5em;
	margin-bottom: 1.75em;
}

.entry-content h4,
.entry-summary h4,
.comment-content h4,
.textwidget h4 {
	letter-spacing: 0.140625em;
	text-transform: uppercase;
}

.entry-content h6,
.entry-summary h6,
.comment-content h6,
.textwidget h6 {
	font-style: italic;
}

.entry-header,
.entry-summary,
.entry-content,
.entry-footer,
.page-content {
	margin-right: 7.6923%;
	margin-left: 7.6923%;
}

.entry-content ul,
.entry-summary ul,
.comment-content ul,
.entry-content ol,
.entry-summary ol,
.comment-content ol {
	margin-left: 1.5em;
}

.entry-title {
	font-size: 28px;
	font-size: 1.75rem;
	line-height: 1.25;
}

.post-thumbnail {
	display: block;
	margin: 0 7.6923% 1.75em;

	img {
		display: block;
		margin: 0 auto;
	}
}

.entry-footer {
	font-size: 13px;
	font-size: 0.8125rem;
	line-height: 1.6153846154;
	margin-top: 2.1538461538em;

	& > span:not(:last-child):after {
		content: "\002f";
		display: inline-block;
		opacity: 0.7;
		padding: 0 0.538461538em;
	}

	span {
		white-space: nowrap;
	}
}

.sticky {
	display: block;
}

.sticky-post {
	color: $color__text-tertiary;
	display: block;
	font-size: 13px;
	font-size: 0.8125rem;
	letter-spacing: 0.076923077em;
	line-height: 1.6153846154;
	margin-bottom: 0.5384615385em;
	text-transform: uppercase;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published){
	display: none;
}

.byline,
.single .byline,
.group-blog .byline {
	display: inline-block;
	padding-bottom: 0.538461538em;
}

.byline .avatar {
	height: 21px;
	margin: -0.1538461538em 0.5384615385em 0 0;
	width: 21px;
}

.author-info {
	border-color: $color__border;
	border-style: solid;
	border-width: 1px 0 1px 0;
	clear: both;
	margin-bottom: 1em;
	padding-top: 1.75em;
	padding-bottom: 1.75em;
}

.author-avatar .avatar {
	float: left;
	margin: 0 1.75em 1.75em 0;
}

.author-title {
	clear: none;
	font-size: 1rem;
	line-height: 1.75;
	margin: 0;
}

.author-description > :last-child {
	margin-bottom: 0;
}

.author-link {
	white-space: nowrap;
}

.taxonomy-description {
	color: #686868;
	font-size: 13px;
	font-size: 0.8125rem;
	line-height: 1.6153846154;
}

.taxonomy-description p {
	margin: 0.5384615385em 0 1.6153846154em;
}

.taxonomy-description > :last-child {
	margin-bottom: 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.75em;
}

.page-links a,
.page-links > span {
	border: 1px solid $color__border-alt;
	border-radius: 2px;
	display: inline-block;
	font-size: 13px;
	font-size: 0.8125rem;
	height: 1.8461538462em;
	line-height: 1.6923076923em;
	margin-right: 0.3076923077em;
	text-align: center;
	width: 1.8461538462em;
}

.page-links a,
.page-links a:link {
	background-color: $color__background-button;
	border-color: $color__background-button;
	color: $color__text-screen;
	box-shadow: none;
}

.page-links a:hover,
.page-links a:focus {
	background-color: $color__link;
	border-color: transparent;
	color: #fff;
}

.page-links > .page-links-title {
	border: 0;
	color: $color__border-alt;
	height: auto;
	margin: 0;
	padding-right: 0.6153846154em;
	width: auto;
}

.entry-attachment {
	margin-bottom: 1.75em;
}

.entry-caption {
	color: $color__text-tertiary;
	font-size: 13px;
	font-size: 0.8125rem;
	font-style: italic;
	line-height: 1.6153846154;
	padding-top: 1.0769230769em;
}

.entry-caption > :last-child {
	margin-bottom: 0;
}

.post-password-form {
	margin-bottom: 1.75em;

	label {
		color: $color__text-tertiary;
		display: inline-block;
		font-size: 13px;
		font-size: 0.8125rem;
		letter-spacing: 0.076923077em;
		line-height: 1.6153846154;
		margin-bottom: 1.75em;
		text-transform: uppercase;
	}

	input[type="password"] {
		margin-top: 0.4375em;
	}

	& > :last-child {
		margin-bottom: 0;
	}
}

.image-navigation,
.comment-navigation {
	color: $color__text-tertiary;
	font-size: 13px;
	font-size: 0.8125rem;
	line-height: 1.6153846154;
	margin: 0 7.6923% 2.1538461538em;
	padding: 1.0769230769em 0;
}

.comment-navigation {
	margin-right: 0;
	margin-left: 0;

	.comments-title + & {
		border-bottom: 0;
		margin-bottom: 0;
	}
}

.image-navigation .nav-previous:not(:empty),
.image-navigation .nav-next:not(:empty),
.comment-navigation .nav-previous:not(:empty),
.comment-navigation .nav-next:not(:empty) {
	display: inline-block;
}

.image-navigation .nav-previous:not(:empty) + .nav-next:not(:empty):before,
.comment-navigation .nav-previous:not(:empty) + .nav-next:not(:empty):before {
	content: "\002f";
	display: inline-block;
	opacity: 0.7;
	padding: 0 0.538461538em;
}

