.menu-item-has-children a:after,
.menu-toggle:before,
.dropdown-toggle:after,
.comment-reply-title small a:before,
.search-submit:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-family: "Genericons";
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	speak: none;
	text-align: center;
	text-decoration: inherit;
	text-transform: none;
	vertical-align: top;
}

.main-navigation .menu-item-has-children > a:after {
	content: "\f431";
	position: relative;
	left: 0.25em;
	top: 0.25em;
}

.menu-toggle:before {
	content: "\f419";
	display: inline-block;
	font-size: 13px;
	font-size: 0.8125rem;
	margin-right: 5px;

	.toggled & {
		content: "\f406";
		font-size: 11px;
		position: relative;
		top: 1px;
		left: -1px;
	}
}

.dropdown-toggle:after {
	border-left-width: 1px;
	content: "\f431";
	font-size: 24px;
	left: 1px;
	position: relative;
	width: 48px;
}

.dropdown-toggle.toggled:after {
	content: "\f432";
}

.comment-reply-title small a:before {
	content: "\f405";
	font-size: 32px;
	position: relative;
	top: -5px;
}

.search-submit:before {
	content: "\f400";
	font-size: 24px;
	left: 2px;
	line-height: 42px;
	position: relative;
	width: 40px;
}
