img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
	vertical-align: middle;
}

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

.wp-caption {
	margin-bottom: 1.75em;
	max-width: 100%;

	img[class*="wp-image-"] {
		@include center-block;
	}

	// Ensure center-aligned captions center-align properly.
	&.aligncenter {
			margin-left: auto;
			margin-right: auto;
	}

	// Give some padding to floated elements, to prevent them butting up against text.
	&.alignleft {
			margin-right: 20px;
	}

	&.alignright {
			margin-left: 20px;
	}

	.wp-caption-text {
		color: $color__text-tertiary;
		font-size: 13px;
		font-size: 0.8125rem;
		font-style: italic;
		line-height: 1.6153846154;
		padding-top: 0.5384615385em;
		text-align: center;
	}
}

/* Media Elements */

.mejs-container {
	margin-bottom: 1.5em;
}

/* Audio Player */

.mejs-controls a.mejs-horizontal-volume-slider,
.mejs-controls a.mejs-horizontal-volume-slider:focus,
.mejs-controls a.mejs-horizontal-volume-slider:hover {
	background: transparent;
	border: 0;
	box-shadow: none;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
@import "galleries";
