@import "../components/navigation-top";

.site-header-menu.toggled-on .main-navigation,
.site-header-menu.toggled-on .social-navigation {
	margin-right: 0;
	margin-left: 0;
}

.site-branding .site-title a:hover,
.site-branding .site-title a:focus {
	color: $color__link;
}

.post-navigation,
.posts-navigation {
	border-top: 4px solid $color__border;
	border-bottom: 4px solid $color__border;
	clear: both;
	margin: 0 7.6923% 3.5em;
}

.post-navigation {

	a {
		color: $color__text-screen;
		display: block;
		padding: 1.125em 0;
	}

	a:hover .post-title,
	a:focus .post-title {
		color: $color__link;
	}

	span {
		display: block;
	}

	div + div {
		border-top: 4px solid $color__border;
	}

	.meta-nav {
		color: $color__text-tertiary;
		font-size: 11px;
		font-size: 0.6875rem;
		letter-spacing: 0.090909em;
		line-height: 1.6363634;
		text-transform: uppercase;
	}

	.post-title {
		font-size: 18px;
		font-size: 1.125rem;
		font-weight: 700;
		line-height: 1.5;
	}
}

.posts-navigation {

	.nav-links {

		a {
			color: $color__text-screen;
			display: block;
			font-size: 18px;
			font-size: 1.125rem;
			line-height: 1.5;
			padding: 0.625em 0;
		}
		a:hover,
		a:focus {
			color: $color__link;
		}

		div {
			display: block;
			width: 100%;
		}
	}
}


.nav-next {
	text-align: left;
}

.jetpack-social-navigation {
	margin-top: 1.75em;
	text-align: center;

	.menu-item {
		margin: 0 0.75em 0.75em 0;

		a {
			border: 1px solid $color__border;
			border-radius: 50%;
			color: $color__link-hover;
			display: block;
			font-size: 24px;
			font-size: 1.5rem;
			height: 2.25em;
			position: relative;
			width: 2.25em;
		}

		a:before {
			line-height: 2.15em;
			height: 2.15em;
			width: 2.15em;
		}

		a:hover {
			box-shadow: none;
		}

		a:hover:before {
			color: $color__link;
		}
	}
}
