@import "../components/navigation-top";

.site-header-menu.toggled-on .main-navigation,
.site-header-menu.toggled-on .social-navigation {
	margin-right: 0;
	margin-left: 0;
}

.site-branding .site-title a:hover,
.site-branding .site-title a:focus {
	color: $color__link;
}

.post-navigation,
.posts-navigation {
	border-top: 4px solid $color__border;
	border-bottom: 4px solid $color__border;
	clear: both;
}

.post-navigation {
	margin: 0 7.6923% 3.5em;

	a {
		color: $color__text-screen;
		display: block;
		padding: 1.75em 0;
	}

	a:hover .post-title,
	a:focus .post-title {
		color: $color__link;
	}

	span {
		display: block;
	}

	div + div {
		border-top: 4px solid $color__border;
	}

	.meta-nav {
		color: $color__text-tertiary;
		font-size: 13px;
		font-size: 0.8125rem;
		letter-spacing: 0.076923077em;
		line-height: 1.6153846154;
		margin-bottom: .5384615385em;
		text-transform: uppercase;
	}

	.post-title {
		font-size: 28px;
		font-size: 1.75rem;
		line-height: 1.25;
	}

	.nav-next {
		text-align: right;
	}
}

.posts-navigation {

	.nav-links div,
	.nav-links a {
		display: inline-block;
		width: 50%;
	}

	.nav-links a {
		color: $color__text-screen;
		font-size: 24px;
		font-size: 1.5rem;
		line-height: 1.25em;
		padding: 1.75em 0;
	}

	a:hover,
	a:focus {
		color: $color__link;
	}

	.nav-next {
		text-align: right;
	}

}

.jetpack-social-navigation {
	margin-top: 1.75em;
	text-align: center;

	.menu-item {
		margin: 0 0.4375em 0.4375em 0;

		a {
			border: 1px solid $color__border;
			border-radius: 50%;
			color: $color__link-hover;
			display: block;
			height: 2.25em;
			position: relative;
			width: 2.25em;
		}

		a:before {
			line-height: 2.0625em;
			height: 2.0625em;
			width: 2.0625em;
		}

		a:hover {
			box-shadow: none;
		}

		a:hover:before {
			color: $color__link;
		}
	}
}