body,
button,
input,
select,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(1);
	line-height: $font__line-height-body;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: 700;
	margin: 0 0 1.25em;
	text-rendering: optimizeLegibility;
}

p {
	margin: 0 0 1.75em;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	border: 0 solid $color__border;
	border-left-width: 4px;
	color: $color__text-secondary;
	font-size: 19px;
	font-size: 1.1875rem;
	font-style: italic;
	line-height: 1.4736842105;
	margin: 0 0 1.4736842105em;
	padding: 0 0 0 1.263157895em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: $color__background-pre;
	font-family: $font__pre;
	@include font-size(0.9375);
	line-height: $font__line-height-pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: $font__code;
	@include font-size(0.9375);
}

abbr, acronym {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}

mark, ins {
	background: $color__background-ins;
	text-decoration: none;
}

big {
	font-size: 125%;
}

blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

.site-title,
.entry-title,
.entry-footer,
.page-title,
.page-links,
.comments-title,
.comment-reply-title,
.site-footer .site-title:after,
.post-navigation .post-title {
	font-family: "Merriweather", Georgia, serif;
}

.meta-nav,
.widget-title,
.sticky-post,
.main-navigation,
.page-links,
.comment-metadata,
.pingback .edit-link,
.comment-reply-link,
.comment-form label,
.tagcloud a,
#infinite-handle {
	font-family: "Montserrat", "Helvetica Neue", sans-serif;
}

.form-allowed-tags code {
	font-family: monospace;
}

/* Main Text Color */
body,
blockquote cite,
blockquote small,
.menu-toggle,
.dropdown-toggle,
.page-links > .page-links-title,
.comment-author {
	color: $color__text-screen;
}

button,
button[disabled]:hover,
button[disabled]:focus,
input[type="button"],
input[type="button"][disabled]:hover,
input[type="button"][disabled]:focus,
input[type="reset"],
input[type="reset"][disabled]:hover,
input[type="reset"][disabled]:focus,
input[type="submit"],
input[type="submit"][disabled]:hover,
input[type="submit"][disabled]:focus,
.menu-toggle.toggled-on,
.menu-toggle.toggled-on:hover,
.menu-toggle.toggled-on:focus,
.pagination:before,
.pagination:after,
.pagination .prev,
.pagination .next {
	background-color: $color__text-screen;
}


/* Secondary Text Color */
/**
 * IE8 and earlier will drop any block with CSS3 selectors.
 * Do not combine these styles with the next block.
 */
body:not(.search-results) .entry-summary {
	color: $color__text-secondary;
}

blockquote,
.post-password-form label,
.post-navigation .meta-nav,
.image-navigation,
.comment-navigation,
.widget_recent_entries .post-date,
.widget_rss .rss-date,
.widget_rss cite,
.site-description,
.author-bio,
.entry-footer,
.sticky-post,
.taxonomy-description,
.entry-caption,
.comment-metadata,
.pingback .edit-link,
.pingback .comment-edit-link,
.comment-form label,
.comment-notes,
.comment-awaiting-moderation,
.logged-in-as,
.form-allowed-tags,
.site-info,
.site-info a,
.wp-caption .wp-caption-text,
.gallery-caption,
.widecolumn label,
.widecolumn .mu_register label {
	color: $color__text-secondary;
}

/* Border Color */
fieldset,
pre,
abbr,
acronym,
table,
th,
td,
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea,
.main-navigation li,
.main-navigation .primary-menu,
.menu-toggle,
.dropdown-toggle:after,
.social-navigation a,
.image-navigation,
.comment-navigation,
.tagcloud a,
.entry-content,
.entry-summary,
.page-links a,
.page-links > span,
.comment-list article,
.comment-list .pingback,
.comment-list .trackback,
.comment-reply-link,
.no-comments,
.widecolumn .mu_register .mu_alert {
	border-color: $color__text-screen;
	/* Fallback for IE7 and IE8 */
	border-color: $color__border;
}

hr,
code {
	background-color: $color__text-screen;
	/* Fallback for IE7 and IE8 */
	background-color: $color__border;
}

blockquote,
.menu-toggle.toggled-on,
.menu-toggle.toggled-on:hover,
.menu-toggle.toggled-on:focus,
.post-navigation,
.post-navigation div + div,
.pagination,
.widget,
.page-header,
.page-links a,
.comments-title,
.comment-reply-title,
#jp-post-flair + .author-info {
	border-color: $color__border;
}

.sharedaddy:before, .sharedaddy:last-child:after {
	background-color: $color__border;
	opacity: 1;
}
