.comments-area {
	margin: 0 7.6923% 3.5em;
}

.comment-list + .comment-respond,
.comment-navigation + .comment-respond {
	padding-top: 1.75em;
}

.comments-title,
.comment-reply-title {
	border-top: 4px solid $color__border;
	font-size: 23px;
	font-size: 1.4375rem;
	font-weight: 700;
	line-height: 1.3125;
	padding-top: 1.217391304em;
}

.comments-title {
	margin-bottom: 1.217391304em;
}

.comment-list {
	list-style: none;
	margin: 0;
	padding-left: 0;

	article,
	.pingback,
	.trackback {
		border-top: 1px solid $color__border;
		padding: 1.75em 0;
	}

	.bypostauthor > article {
		background-color: $color__background-screen;
		border-top: 4px solid $color__border-alt;
		padding: 1.75em 1.5em;
	}

	.children {
		list-style: none;
		margin: 0;
	}

	.children > li {
		padding-left: 1.5em;
	}
}

.comment-author {
	color: $color__text-main;
	margin-bottom: 0;

	.comment-author .avatar {
		float: left;
		height: 28px;
		margin-right: 0.875em;
		position: relative;
		width: 28px;
	}
}

.comment-metadata,
.pingback .edit-link {
	color: $color__text-tertiary;
	font-size: 13px;
	font-size: 0.8125rem;
	line-height: 1.6153846154;
}

.comment-metadata {
	margin-bottom: 2.1538461538em;
	margin-left: 3.625em;
}

.comment-metadata a,
.pingback .comment-edit-link {
	color: $color__text-tertiary;
}

.comment-metadata a:hover,
.comment-metadata a:focus,
.pingback .comment-edit-link:hover,
.pingback .comment-edit-link:focus {
	color: $color__link;
}

.comment-metadata .edit-link,
.pingback .edit-link {
	display: inline-block;

	&:before {
		display: inline-block;
		opacity: 0.7;
		padding: 0 0.538461538em;
	}
}

.comment-content {
	ul,
	ol {
		margin: 0 0 1.5em 1.25em;
	}

	li > ul,
	li > ol {
		margin-bottom: 0;
	}
}

.comment-reply-link {
	border: 1px solid $color__border-alt;
	border-radius: 2px;
	color: $color__link;
	display: inline-block;
	font-size: 13px;
	font-size: 0.8125rem;
	line-height: 1;
	padding: 0.5384615385em 0.5384615385em 0.4615384615em;

	&:hover,
	&:focus {
		border-color: currentColor;
		color: #007acc;
		outline: 0;
	}
}

.comment-form label {
	color: #686868;
	display: block;
	font-size: 13px;
	font-size: 0.8125rem;
	letter-spacing: 0.076923077em;
	line-height: 1.6153846154;
	margin-bottom: 0.5384615385em;
	text-transform: uppercase;
}

.comment-list .comment-form {
	padding-bottom: 1.75em;
}

.comment-notes,
.comment-awaiting-moderation,
.logged-in-as,
.form-allowed-tags {
	color: #686868;
	font-size: 13px;
	font-size: 0.8125rem;
	line-height: 1.6153846154;
	margin-bottom: 2.1538461538em;
}

.no-comments {
	border-top: 1px solid #d1d1d1;
	font-family: Montserrat, "Helvetica Neue", sans-serif;
	font-weight: 700;
	margin: 0;
	padding-top: 1.75em;

	.comment-navigation + & {
		border-top: 0;
		padding-top: 0;
	}
}

.form-submit {
	margin-bottom: 0;
}

.required {
	color: $color__link;
	font-family: Merriweather, Georgia, serif;
}

.comment-reply-title small {
	font-size: 100%;

	a {
		float: right;
	}

	a:hover,
	a:focus {
		color: #1a1a1a;
	}

}